body {
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
    font-family: 'Anonymous Pro', sans-serif;
}
.bott1 {
  position: absolute;
  z-index: 2;
  margin-left: 491px;
  margin-top: 4px;
}
.bott2 {
  position: absolute;
  z-index: 2;
  margin-left: 493px;
  margin-top: 3px;
}
.bott3 {
  position: absolute;
  z-index: 2;
  margin-left: 490px;
  margin-top: 7px;
}
.bott4 {
  position: absolute;
  z-index: 2;
  margin-left: 1334px;
  margin-top: -334px;
}
.boxes {
  height: 796px;
}
.first {
  margin-top: 153px;
  margin-left: 35px;
  font-size: 187px;
  font-weight: bold;
}
.second {
  margin-top: 10px;
  margin-left: 35px;
  font-size: 25px;
  font-style: italic;
}
.third {
  margin-top: 724px;
  margin-left: 1189px;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}
.blue-box {
  position: absolute;
  z-index: -4;
  background: #518FF2;
  width: 100%;
  margin-left: 0;
  width: 1440px;
  height: 796px;
}
.block {
  position: absolute;
  z-index: -3;
  background: #ffff;
  width: 100%;
  width: 522px;
  height: 304px;
  border: solid;
  color: black;
  margin: 0 auto;
}
.site1 {
  left: 73px;
  top: 50px;
}
.site2 {
  left: 156px;
  top: 90px;
}
.site3 {
  left: 749px;
  top: 80px;
}
.site4 {
  position: absolute;
  z-index: -3;
  background: #ffff;
  width: 100%;
  margin-left: 30px;
  margin-top: 124px;
  width: 1379px;
  height: 544px;
  border: solid;
  color: black;
}
.fourth {
  margin-top: 50px;
  margin-left: 50px;;
  font-size: 25px;
  font-style: normal;
  margin-bottom: 25px;
}
.fifth {
  position: relative;
  z-index: -1;
  margin-left: 44px;
  margin-top: 50px;
  margin-bottom: 25px;
  height: 490px;
}
.sixth {
  margin-top: -443px;
  margin-left: 119px;;
  font-size: 25px;
  font-style: normal;
}
.seventh {
  margin-top: 46px;
  margin-left: 36px;;
  font-size: 57px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}
.site5 {
  position: relative;
  z-index: -2;
  background: #518FF2;
  border: solid;
  color: black;
  width: 100%;
  margin-left: 440px;
  margin-top: 50px;
  width: 950px;
  height: 731px;
}
.eight {
  position: absolute;
  z-index: -1;
  margin-left: 900px;
  margin-top: 11px;
}
.ninth {
  margin-top: 50px;
  margin-left: 93px;;
  font-size: 25px;
  font-style:  normal;
}
.tenth {
  margin-top: 50px;
  margin-left: 93px;;
  font-size: 25px;
  font-style:  normal;
}
.eleventh {
  margin-top: 50px;
  margin-left: 93px;;
  font-size: 25px;
  font-style:  normal;
}
.twelvth {
  margin-top: 50px;
  margin-left: 93px;;
  font-size: 25px;
  font-style:  normal;
}
.twelvth1 {
  margin-top: 50px;
  margin-left: 300px;;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}
.thirteenth {
  margin-top: 50px;
  margin-left: 50px;;
  font-size: 25px;
  font-style: normal;
}
.fourteenth {
  margin-left: 25px;
  margin-top: 70px;
}
.fifteen {
  position: relative;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 25px;
  font-style: normal;
}
.sixteen {
  margin-top: 10px;
  margin-left: 50px;;
  font-size: 48px;
  font-style: normal;
}
.sixteen1 {
  margin-top: 10px;
  margin-left: 50px;;
  font-size: 40px;
  font-style: normal;
}
.sixteen2 {
  margin-top: 10px;
  margin-left: 50px;;
  font-size: 36px;
  font-style: normal;
}
.sixteen3 {
  margin-top: 10px;
  margin-left: 50px;;
  font-size: 32px;
  font-style: normal;
}
.sixteen4 {
  margin-top: 10px;
  margin-left: 50px;;
  font-size: 24px;
  font-style: normal;
}
.sixteen5 {
  margin-top: 10px;
  margin-left: 50px;;
  font-size: 20px;
  font-style: normal;
}
.blackstick {
  position: relative;
  z-index: -4;
  background: black;
  width: 100%;
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: 25px;
  width: 1440px;
  height: 166px;
}
.seventeen {
  position: absolute;
  margin-top: -14px;
  margin-left: 18px;;
  font-size: 200px;
  font-style: normal;
  font-weight: bold;
  color: #fff;
}
.laptop {
  position: relative;
  z-index: -4;
  width: 928px;
  height: 978px;
  margin-left: 281px;
  margin-top: 50px;
  margin-bottom: 25px;
}
.eighteen {
  margin-top: -801px;
  margin-left: 56px;;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
}
.ad {
  position: absolute;
  z-index: 0;
  background: #518FF2;
  border: solid;
  color: black;
  width: 100%;
  margin-left: 57px;
  margin-top: 21px;
  width: 803px;
  height: 150px;
}
.botton {
  position: absolute;
  z-index: 1;
  margin-left: 818px;
  margin-top: 30px;
}
.ninteenth {
  position: absolute;
  z-index: 1;
  margin-top: 72px;
  margin-left: 89px;;
  font-size: 46px;
  font-style: italic;
  color: white;
}
.data1 {
  margin-top: 191px;
  margin-left: 87px;;
  font-size: 25px;
  font-style: normal;
}
.text1 {
  margin-top: -28px;
  margin-left: 283px;;
  font-size: 25px;
  font-style: normal;
}
.data2 {
  margin-top: 41px;
  margin-left: 87px;;
  font-size: 25px;
  font-style: normal;
}
.text2 {
  margin-top: -28px;
  margin-left: 283px;;
  font-size: 25px;
  font-style: normal;
}
.data3 {
  margin-top: 41px;
  margin-left: 87px;;
  font-size: 25px;
  font-style: normal;
}
.text3 {
  margin-top: -28px;
  margin-left: 283px;;
  font-size: 25px;
  font-style: normal;
}
.twenty {
  margin-top: 50px;
  margin-left: 50px;;
  font-size: 25px;
  font-style: normal;
  margin-bottom: 25px;
}
.phone {
  position: relative;
  z-index: -3;
  margin-top: 50px;
  margin-left: 711px;
  margin-bottom: 25px;
}
.ok {
  position: absolute;
  z-index: 2;
  margin-left: 138px;
  margin-top: -206px;
}
.butt {
  position: absolute;
  z-index: 0;
  background: #fff;
  border: 2px solid black;
  border-radius: 15px;
  width: 100%;
  margin-left: 132px;
  margin-top: -211px;
  width: 400px;
  height: 80px;
}
.lilbutt {
  position: absolute;
  z-index: 1;
  border: 2px solid black;
  border-radius: 15px;
  background: white;
  width: 100%;
  margin-left: 138px;
  margin-top: -206px;
  width: 70px;
  height: 70px;
}
.twenty_first {
  position: absolute;
  z-index: 2;
  margin-top: -188px;
  margin-left: 225px;;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
}
.twenty_second {
  margin-top: 50px;
  margin-left: 50px;;
  font-size: 25px;
  font-style: normal;
}
.gdz {
  position: relative;
  z-index: -4;
  width: 928px;
  height: 961px;
  margin-left: 266px;
  margin-top: 80px;
  margin-bottom: 25px;
}
.text4 {
  margin-top: -780px;
  margin-left: 123px;;
  font-size: 25px;
  font-style: normal;
}
.text5 {
  margin-top: 205px;
  margin-left: 123px;;
  font-size: 25px;
  font-style: normal;
}
.ad1 {
  position: absolute;
  z-index: 0;
  background: #518FF2;
  border: solid;
  color: black;
  width: 100%;
  margin-left: 57px;
  margin-top: 355px;
  width: 809px;
  height: 150px;
  }
.botton1 {
  position: absolute;
  z-index: 1;
  margin-left: 828px;
  margin-top: 360px;
}
.text6 {
  position: absolute;
  z-index: 2;
  margin-left: 86px;
  margin-top: 380px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
.text7 {
  position: absolute;
  z-index: 2;
  margin-left: 642px;
  margin-top: 454px;
  font-size: 15px;
  color: #fff;
  text-align: right;
}
.twenty_third {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 25px;
  font-size: 25px;
  font-style: normal;
}
.twenty_four {
  margin-top: 152px;
  margin-left: 246px;;
  font-size: 25px;
  font-style: normal;
}
.twenty_five {
  margin-top: -110px;
  margin-left: 804px;;
  font-size: 25px;
  font-style: normal;
}
.ads {
  height: 120px;
}
.ad2 {
  position: absolute;
  z-index: -3;
  border: solid;
  width: 100%;
  margin-left: 212px;
  margin-top: -40px;
  margin-bottom: 25px;
  width: 564px;
  height: 137px;
  background: #fff;
}
.ad3 {
  position: absolute;
  z-index: -4;
  border: solid;
  width: 100%;
  margin-left: 741px;
  margin-top: -88px;
  margin-bottom: 25px;
  width: 564px;
  height: 137px;
  background: #518FF2;
}
.vk {
  position: absolute;
  z-index: -3;
  margin-left: 542px;
  margin-top: -73px;
}
.tg {
  position: absolute;
  z-index: -3;
  margin-left: 657px;
  margin-top: -72px;
}
.hse {
  margin-left: 1084px;
  margin-top: -68px;
}
.alpha {
  margin-top: 50px;
  margin-bottom: 25px;
  width: 1440px;
  height: 840px;
  display: flex;
  flex-wrap: wrap;
}
.alpha div {
  border: 3px solid black;
  border-radius: 10px;
  width: 189px;
  height: 189px;
  margin: 5px;
}
.alpha p {
  margin: 5px;
  font-size: 180px;
  font-weight: normal;
}
.lilbutt1 {
  position: absolute;
  z-index: 2;
  margin-top: -82px;
  margin-left: 748px;
}
.lilbutt2 {
  position: absolute;
  z-index: 2;
  margin-top: -93px;
  margin-left: 1276px;
}
